*{
margin: 0px;
}
#registro{
    background-color: peru;
    height: auto;
}
.mitadIzq{
    border: solid red 5px;
    width: 50%;
    height: auto;
    background-image: url('../images/logoPureAir.png');
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    float: left;

}
.mitadDer{
width: 45%;
position: relative;
float: left;
height: 99vh;
background-color: blue;
display: flex;
align-items: center;
justify-content: center;

}
.mitadDer form{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   line-height: 20px;
   text-align: center;
   justify-content: center;
   align-items: center;
   vertical-align: center;
}
.mitadDer input{
    line-height: 20px;
    text-align: center;
    width: 200px;
    border-bottom: black 5px solid;
    background-color: lightgrey;
 }
label{
 /* background-color: aqua; */
}
#errores{
    background-color: red;
    color: white;
}
