*{
margin: 0px;
}
#registro{
    background-color: peru;
    height: auto;
}
.mitadIzq{
    border: solid red 5px;
    width: 50%;
    height: auto;
    background-image: url('../images/logoPureAir.png');
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    float: left;

}
.mitadDer{
width: 45%;
position: relative;
float: left;
height: 99vh;
}
.mitadDer form{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
label{
 background-color: aqua;
}