*{
 margin: 0;
}
/* div{
    border: 5px solid red;
} */
#buscadorGeneral{
    background-color: blueviolet;
}
#fondoBusqueda{
    width: 100%;
    height: 50%;
}
#seccionBusqueda{
    display: flex;
    width: 50%;
    height: 5vw; 
    position: absolute; 
    bottom: 0.1vw; 
    left: 24vw;
}
#seccionBusqueda input{
    width: 80%;
    border-radius: 2vw;
}
#botonBusqueda{
    width: 10%;
    background-color: greenyellow;
    border-radius: 10vw;
}
#lupa{
    width: 70%;
    padding: 0.5vw;
}
#recomendad{
    background-color: yellow;
    clear: both;
}
.RecomendadosEscrol{
    background-color: orange;
    display: flex;
    vertical-align: middle;

}
.butFlecha {
    width: 10%;
    height: 10%;
    background-color: green;
    border-radius: 50%;
}
.butFlecha img{
    width: 50%;
    padding: 1vw;
    display: flex;
    
    
}
.VistaMiniRuta{
    background-color: peru;
    float: left;
    width: 10vw;
    height: 10vw;
    min-width: 500px;
    margin: 1vw;
    border-radius: 2vw;
    padding: 0.5vw;
}
.VistaMiniRuta h3{
    text-align: center;
    background-color: green;
}
.imagenMitad{
    width: 50%;
}
.dosMitades{
    display: flex;
    width: auto;
    
    padding: 0.5vw;
    float: left;
}
.imagenMitad{
    width: 100%;
    height: auto;
}
.mitadDer{
    width: 50%;
}
.mitadIzq{
    width: 50%;
}
.minidatos{
    display: grid;
    background-color: cadetblue;
    grid-template-columns: (2,2fr);
    grid-template-rows: (5, 5fr);
    height: 8vw;
    text-align: center;
    font-size: 1vw;
}
/* COMIENZO grid de los datos*/
.medida{
    grid-column: 1;
    grid-row: 1;
    background-color: aqua;
}
.medidaDatos{
    grid-column: 2;
    grid-row: 1;
    background-color: aqua;
}
.dificultad{
    grid-column: 1;
    grid-row: 2;
    background-color: aqua;
}
.dificultadDato{
    grid-column: 2;
    grid-row: 2;
    background-color: aqua;
}
.desnivel{
    grid-column: 1;
    grid-row: 3;
    background-color: aqua;
}
.desnivelDato{
    grid-column: 2;
    grid-row: 3;
    background-color: aqua;
}
.tipoRuta{
    grid-column: 1;
    grid-row: 4;
    background-color: aqua;
}
.tipoRutaDato{
    grid-column: 2;
    grid-row: 4;
    background-color: aqua;
}
.valoracion{
    grid-row: 8;
    grid-column: span 2;
    background:aqua ;
}
.estrellas{
   
    grid-template-columns: (5, 5fr);
    grid-template-rows: (1, 1fr);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rebeccapurple;
}
.estrellas img{
    width: 1.5vw;
}
/* FIN grid de los datos*/
